<div class="flex flex-column m-3 gap-5 w-10 mx-auto mt-5 pt-5">
  <div class="flex gap-5 w-full">
    <div class="flex w-5">
        <textarea
          class="w-full h-full"
          pInputTextarea
          placeholder="Enter your sequence..."
          (input)="onInput($event)"
          [(ngModel)]="sequence"
          [ngClass]="{'ng-invalid': hasError, 'ng-dirty' : hasError }">
        </textarea>
    </div>

    <div class="flex flex-column w-7 gap-5 text-gray-500">
      <div class="flex flex-column gap-3">
        <div>
          <label for="generations">Generations</label>
          <div class="flex align-items-center gap-3">
            <p-slider id="generations" [(ngModel)]="params.generations" [step]="1" [min]="1" [max]="1000"
                      class="w-full"/>
            <span>{{ params.generations }}</span>
          </div>
        </div>

        <div>
          <label for="populationSize">Population Size</label>
          <div class="flex align-items-center gap-3">
            <p-slider id="populationSize" [(ngModel)]="params.populationSize"
                      [step]="1"
                      [min]="1"
                      [max]="500"
                      class="w-full"/>
            <span>{{ params.populationSize }}</span>
          </div>
        </div>

        <div>
          <label for="childrenSize">Children Size</label>
          <div class="flex align-items-center gap-3">
            <p-slider id="childrenSize" [(ngModel)]="params.childrenSize" [step]="1" [min]="1" [max]="1000"
                      class="w-full"/>
            <span>{{ params.childrenSize }}</span>
          </div>
        </div>

        <div class="p-fluid">
          <p-selectButton
            [options]="stateOptions"
            [(ngModel)]="plusSelection"
            optionLabel="label"
            optionValue="value">
          </p-selectButton>
        </div>
      </div>

      <div class="flex flex-column gap-3 p-fluid">
        <div>
          <label>Theta
            <i class="pi pi-info-circle"
               pTooltip="The threshold for the succession rate in the adaptive adaption that determines how sigma is modified."
               tooltipPosition="top"></i>
          </label>
          <p-inputNumber class="mt-1" [(ngModel)]="params.theta" [showButtons]="true" [step]="0.1" [min]="0" />
        </div>
        <div>
          <label>Alpha
            <i class="pi pi-info-circle"
               pTooltip="The factor that is used to modify sigma in the adaptive adaption."
               tooltipPosition="top"></i>
          </label>
          <p-inputNumber class="mt-1" [(ngModel)]="params.alpha" [showButtons]="true" [min]="1" [step]="0.025"/>
        </div>
        <div>
          <label>Premature Termination
            <i class="pi pi-info-circle"
               pTooltip="If the best fitness hasn't change for this amount of generations, the algorithm will terminate."
               tooltipPosition="top"></i>
          </label>
          <div class="flex mt-1 align-items-center gap-2">
            <p-inputSwitch [(ngModel)]="prematureTermination"/>
            <p-inputNumber [min]="2" [(ngModel)]="params.prematureTermination" [showButtons]="true"
                           [disabled]="params.prematureTermination === null"/>
          </div>
        </div>
      </div>

      <div class="p-fluid">
        <p-button class="w-12" label="Simulate" severity="secondary" outlined
                  [disabled]="hasError || sequence.trim().length === 0"
                  (click)="onSimulateClick()"/>
      </div>
    </div>
  </div>

  @if (hasError) {
    <p-message class="p-fluid" severity="error" [text]=errorMessage>
      Invalid sequence
    </p-message>
  }
</div>

<p-toast />
