<div class="flex p-3 bg-gray-50 justify-content-between">
  <a routerLink="/" class="no-underline">
    <div class="flex gap-3 align-items-center select-none">
      <div class="text-5xl text-gray-400 font-light">EvoFold</div>
      <div class="text-xl text-gray-300 border-solid border-2 border-round-xl p-1">BETA</div>
    </div>
  </a>

  <div class="flex align-items-center mr-3">
        <p-button icon="pi pi-github" severity="secondary" outlined size="small" (onClick)="routeToGithub()" />
  </div>
</div>
