<div class="flex flex-column gap-5 w-10 mx-auto p-3">
  <div class="flex gap-5 w-full">
    <div class="flex flex-column gap-2 w-5">
        <textarea
          class="w-full h-full"
          pTextarea
          placeholder="Enter your sequence..."
          (input)="onInput($event)"
          [(ngModel)]="sequence"
          [ngClass]="{'ng-invalid': errorMessage !== null, 'ng-dirty' : errorMessage !== null }">
        </textarea>
      @if (errorMessage !== null) {
        <p-message class="p-fluid" severity="error" [text]="errorMessage" />
      }
    </div>

    <div class="flex flex-column w-7">
      <p-tabs value="0">
        <p-tablist>
          <p-tab value="0">Evolution Strategy</p-tab>
          <p-tab value="1">Premature Convergence Strategy</p-tab>
        </p-tablist>
        <p-tabpanels class="bg-gray-100">
          <p-tabpanel value="0">
            <div class="flex flex-column gap-5">
              <div class="flex flex-column gap-3">
                <p-selectButton styleClass="w-full" [options]="esOptions" [(ngModel)]="selectedESOption"
                                optionLabel="label" optionValue="value"/>

                <div>
                  <label for="generations">Generations</label>
                  <div class="flex align-items-center gap-3">
                    <p-slider id="generations" [(ngModel)]="params.generations" [step]="1" [min]="1" [max]="1000"
                              class="w-full"/>
                    <span>{{ params.generations }}</span>
                  </div>
                </div>

                <div>
                  <label for="populationSize">Population Size</label>
                  <div class="flex align-items-center gap-3">
                    <p-slider id="populationSize" [(ngModel)]="params.populationSize"
                              [step]="1"
                              [min]="1"
                              [max]="500"
                              class="w-full"/>
                    <span>{{ params.populationSize }}</span>
                  </div>
                </div>

                <div>
                  <label for="childrenSize">Children Size</label>
                  <div class="flex align-items-center gap-3">
                    <p-slider id="childrenSize" [(ngModel)]="params.childrenSize" [step]="1" [min]="1" [max]="1000"
                              class="w-full"/>
                    <span>{{ params.childrenSize }}</span>
                  </div>
                </div>
                <div class="flex justify-content-between">
                  <p-selectButton [options]="selectionOptions" [(ngModel)]="plusSelection" optionLabel="label"
                                  optionValue="value"/>

                  <p-selectButton [options]="forceFieldOptions" [(ngModel)]="params.forceField" optionLabel="label"
                                  optionValue="value"/>
                </div>
              </div>

              <div class="flex flex-column gap-3">
                <div>
                  <label for="sigma">Sigma
                    <i pTooltip="This is the initial sigma for the (self) adapting gaussian mutation."
                       class="pi pi-info-circle" tooltipPosition="top"></i>
                  </label>
                  <div class="flex align-items-center gap-3">
                    <p-slider id="sigma" [(ngModel)]="params.sigma" [step]="1" [min]="0" [max]="360" class="w-full"/>
                    <span>{{ params.sigma }}</span>
                  </div>
                </div>

                @if (selectedESOption === 'adaptive') {
                  <div>
                    <label for="modFrequency">Modification frequency
                      <i pTooltip="This is the frequency of the adaption of sigma."
                         class="pi pi-info-circle" tooltipPosition="top"></i>
                    </label>
                    <div class="flex align-items-center gap-3">
                      <p-slider id="modFrequency" [(ngModel)]="adaptiveParams.modFrequency" [step]="1" [min]="0"
                                [max]="100" class="w-full"/>
                      <span>{{ adaptiveParams.modFrequency }}</span>
                    </div>
                  </div>
                  <div>
                    <label class="pr-2">Theta
                      <i
                        pTooltip="The threshold for the succession rate in the adaptive adaption that determines how sigma is modified."
                        class="pi pi-info-circle" tooltipPosition="top"></i>
                    </label>
                    <p-inputNumber class="mt-1 w-full" [(ngModel)]="adaptiveParams.theta" [showButtons]="true"
                                   [step]="0.1" [min]="0"/>
                  </div>
                  <div>
                    <label class="pr-2">Alpha
                      <i pTooltip="The factor that is used to modify sigma in the adaptive adaption."
                         class="pi pi-info-circle" tooltipPosition="top"></i>
                    </label>
                    <p-inputNumber class="mt-1 w-full" [(ngModel)]="adaptiveParams.alpha" [showButtons]="true" [min]="1"
                                   [step]="0.025"/>
                  </div>
                } @else if (selectedESOption === 'derandomized') {
                  <div>
                    <label class="pr-2">Alpha
                      <i
                        pTooltip="Learning rate, how strongly the current change is incorporated into the direction vector of the optimization learned over all generations."
                        class="pi pi-info-circle" tooltipPosition="top"></i>
                    </label>
                    <p-inputNumber class="mt-1 w-full" [(ngModel)]="derandomizedParams.alpha" [disabled]="true"
                                   [showButtons]="true" [step]="0.1" [min]="0"/>
                  </div>
                  <div>
                    <label class="pr-2">Tau
                      <i
                        pTooltip="Damping factor that determines how much the length of the direction vector modifies the step size parameter."
                        class="pi pi-info-circle" tooltipPosition="top"></i>
                    </label>
                    <p-inputNumber class="mt-1 w-full" [(ngModel)]="derandomizedParams.tau" [disabled]="true"
                                   [showButtons]="true" [min]="1" [step]="0.025"/>
                  </div>
                }
              </div>
            </div>
          </p-tabpanel>
          <p-tabpanel value="1">
            <div class="flex flex-column gap-5">
              <p-selectButton styleClass="w-full" [options]="pcOptions" [(ngModel)]="params.prematureStrategy"
                              optionLabel="label" optionValue="value"/>

              <div>
                <label>Stagnation
                  <i
                    pTooltip="If the fitness hasn't change for this amount of generations, the algorithm will initiate the premature convergence strategy."
                    class="pi pi-info-circle" tooltipPosition="top"></i>
                </label>
                <div class="flex mt-1 align-items-center gap-2">
                  <p-inputSwitch [(ngModel)]="prematureStagnation" [disabled]="params.prematureStrategy === 'none'"/>
                  <p-inputNumber class="w-full"
                                 [min]="2" [(ngModel)]="params.prematureStagnation" [showButtons]="true"
                                 [disabled]="params.prematureStagnation === null || params.prematureStrategy === 'none'"/>
                </div>
              </div>

              <div>
                <label>Sigma threshold
                  <i
                    pTooltip="If sigma falls below this threshold, the algorithm will initiate the premature convergence strategy."
                    class="pi pi-info-circle" tooltipPosition="top"></i>
                </label>
                <div class="flex mt-1 align-items-center gap-2">
                  <p-inputSwitch [(ngModel)]="prematureSigma" [disabled]="params.prematureStrategy === 'none'"/>
                  <p-inputNumber class="w-full"
                                 [min]="0" [step]="0.01" [(ngModel)]="params.prematureSigma" [showButtons]="true"
                                 [disabled]="params.prematureSigma === null || params.prematureStrategy === 'none'"/>
                </div>
              </div>

              <div>
                <label>Fitness threshold
                  <i
                    pTooltip="If the fitness falls below this threshold, the algorithm will initiate the premature convergence strategy."
                    class="pi pi-info-circle" tooltipPosition="top"></i>
                </label>
                <div class="flex mt-1 align-items-center gap-2">
                  <p-inputSwitch [(ngModel)]="prematureFitness" [disabled]="params.prematureStrategy === 'none'"/>
                  <p-inputNumber class="w-full"
                                 [min]="0" [step]="0.5" [(ngModel)]="params.prematureFitness" [showButtons]="true"
                                 [disabled]="params.prematureFitness === null || params.prematureStrategy === 'none'" suffix=" kJ/mol"/>
                </div>
              </div>
            </div>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>

      <div>
        <p-button label="Simulate" severity="secondary" outlined
                  [disabled]="errorMessage !== null || sequence.trim().length === 0"
                  (click)="onSimulateClick()"/>
      </div>
    </div>
  </div>
</div>

<p-toast/>
