<div class="flex flex-column h-full justify-content-center align-items-center gap-2">
  <div class="flex gap-3 align-items-center">
    <textarea
      rows="5"
      cols="92"
      pInputTextarea
      placeholder="Enter your sequence..."
      (input)="onInput($event)"
      [(ngModel)]="sequence"
      [ngClass]="{'ng-invalid': hasError, 'ng-dirty' : hasError }">
    </textarea>
    <p-button label="Simulate" severity="secondary" outlined [disabled]="hasError || sequence.trim().length === 0" (click)="onSimulateClick()"/>
  </div>
  @if (hasError) {
    <p-message severity="error" [text]=errorMessage>
      Invalid sequence
    </p-message>
  }
</div>
