<div class="flex h-full">
  <div class="flex flex-column bg-gray-200 w-2 p-1 gap-1 overflow-y-scroll">
    @for (key of obj.keys(results); track key) {
      <div class="flex border border-1 border-round-lg align-items-center hover:bg-gray-300 justify-content-center p-3 select-none cursor-pointer"
           [class.bg-green-300]="results[key].isLast" (click)="onEntryClick(key, results[key].sequence)">
        <div class="text-gray-500">Generation {{ results[key].generation }}</div>
      </div>
    }
  </div>

  <div class="flex w-full flex-column">
    <div class="flex h-full relative">
      @if (source) {
        <ngx-structure-viewer
          [settings]="settings"
          [source]="source"/>
      }
    </div>
    <div class="flex h-11rem bg-gray-600">
      @if (currentResultEntry) {
        <div class="p-2 flex items-start justify-between w-full">
          <table class="border-separate border-spacing-y-2" style="table-layout: fixed; width: 100%;">
            <tr>
              <td class="text-lg text-gray-200 w-1">Generation:</td>
              <td class="text-lg text-gray-200">{{ currentResultEntry.generation }}</td>
            </tr>
            <tr>
              <td class="text-lg text-gray-200">Fitness:</td>
              <td class="text-lg text-gray-200">{{ currentResultEntry.fitness }} kJ/mol</td>
            </tr>
            <tr>
              <td class="text-lg text-gray-200">Sigma:</td>
              <td class="text-lg text-gray-200">{{ currentResultEntry.sigma }}</td>
            </tr>
            <tr>
              <td class="text-lg text-gray-200">Sequence:</td>
              <td
                class="text-lg text-gray-200 white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ currentResultEntry.sequence }}
              </td>
            </tr>
          </table>
          <div class="flex flex-column gap-2">
            <p-button class="ml-auto"
                      [outlined]="true"
                      icon="pi pi-download"
                      (onClick)="onDownloadCifClick()"
                      pTooltip="Download cif file"
                      showDelay="500"/>
            <p-button class="ml-auto"
                      [outlined]="true"
                      icon="pi pi-chart-scatter"
                      (onClick)="isRamachandranVisible = true"
                      pTooltip="Show Ramachandran plot"
                      showDelay="500"/>
            <p-button class="ml-auto"
                      [outlined]="true"
                      [style.visibility]="receivedLast ? 'visible' : 'hidden'"
                      icon="pi pi-list-check"
                      (onClick)="isSummaryVisible = true"
                      pTooltip="Show summary"
                      showDelay="500"/>
          </div>
        </div>
      }
    </div>
  </div>
</div>

@if (isLoading) {
  <div class="overlay">
    <p-progress-spinner class="center-spinner"/>
  </div>
}

<p-dialog header="Ramachandran Plot" [modal]="true" [(visible)]="isRamachandranVisible">
  @if (currentResultEntry) {
    <app-ramachandran-plot [simulationData]="[currentResultEntry]"
                           [sequence]="sequence"/>
  } @else {
    Nothing to display yet, select a generation.
  }
</p-dialog>

<p-dialog header="Summary" [modal]="true" [(visible)]="isSummaryVisible">
  @if (isSummaryVisible) {
    @if (obj.keys(results).length > 0) {
      <div class="flex flex-column gap-2">
        <div class="flex flex-row gap-3">
          <app-fitness-plot [simulationData]="selectedResultsArray"/>
          <app-ramachandran-plot [simulationData]="selectedResultsArray" [sequence]="sequence"/>
        </div>
        <div class="flex w-full align-items-center gap-3">
          {{ generationRange[0] }}
          <p-slider class="w-full"
                    [(ngModel)]="generationRange"
                    [range]="true"
                    [min]="fixedGenerationRange[0]"
                    [max]="fixedGenerationRange[1]"
                    (onSlideEnd)="onSlideEnd($event)"/>
          {{ generationRange[1] }}

          <p-button class="ml-auto"
                      [outlined]="true"
                      icon="pi pi-download"
                      (onClick)="onDownloadCsvClick()"
                      pTooltip="Download summary as csv"
                      showDelay="500"/>
        </div>
      </div>
    }
  }
</p-dialog>
