<div class="flex h-full">
  <div class="flex flex-column bg-gray-200 w-2 p-1 gap-1 overflow-y-scroll">
    @for (generation of results; track $index) {
      <div class="flex border border-1 border-round-lg align-items-center hover:bg-gray-300 justify-content-center p-3 select-none cursor-pointer"
           [class.bg-green-300]="generation[1].isLast" (click)="onEntryClick($index, generation[1].sequence)">
        <div class="text-gray-500">Generation {{ generation[1].generation }}</div>
      </div>
    }
  </div>

  <div class="flex w-full flex-column">
    <div class="flex h-full relative">
      @if (source) {
        <ngx-structure-viewer
          [settings]="settings"
          [source]="source"/>
      }
    </div>
    <div class="flex h-11rem bg-gray-600">
      @if (currentResultEntry) {
        <div class="p-2 flex items-start justify-between w-full">
          <table class="border-separate border-spacing-y-2" style="table-layout: fixed; width: 100%;">
            <tr>
              <td class="text-lg text-gray-200 w-1">Generation:</td>
              <td class="text-lg text-gray-200">{{ currentResultEntry.generation }}</td>
            </tr>
            <tr>
              <td class="text-lg text-gray-200">Fitness:</td>
              <td class="text-lg text-gray-200">{{ currentResultEntry.fitness }} kJ/mol</td>
            </tr>
            <tr>
              <td class="text-lg text-gray-200">Sigma:</td>
              <td class="text-lg text-gray-200">{{ currentResultEntry.sigma }}</td>
            </tr>
            <tr>
              <td class="text-lg text-gray-200">Sequence:</td>
              <td
                class="text-lg text-gray-200 white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ currentResultEntry.sequence }}
              </td>
            </tr>
          </table>
          <div class="flex flex-column gap-2">
            <p-button class="ml-auto"
                      [outlined]="true"
                      icon="pi pi-download"
                      (onClick)="onDownloadCifClick()"
                      pTooltip="Download cif file"
                      showDelay="500"/>
            <p-button class="ml-auto"
                      [outlined]="true"
                      icon="pi pi-chart-scatter"
                      (onClick)="isPlotsVisible = true"
                      pTooltip="Show plots"
                      showDelay="500"/>
            <p-button class="ml-auto"
                      [outlined]="true"
                      icon="pi pi-file-excel"
                      (onClick)="onDownloadCsvClick()"
                      pTooltip="Download data as csv"
                      showDelay="500"/>
          </div>
        </div>
      }
    </div>
  </div>
</div>

@if (isLoading) {
  <div class="overlay">
    <p-progress-spinner class="center-spinner"/>
  </div>
}

<p-dialog header="Summary" [modal]="true" [(visible)]="isPlotsVisible">
  @if (isPlotsVisible) {
    @if (results.length > 0) {
      <div class="flex flex-column gap-2">
        <div class="flex flex-row gap-3">
          <app-fitness-plot [simulationData]="selectedResults"/>
          <app-ramachandran-plot [simulationData]="selectedResults" [sequence]="sequence"/>
        </div>
        <div class="flex w-full align-items-center gap-3">
          {{ generationRange()[0] }}
          <p-slider class="w-full"
                    [ngModel]="generationRange()"
                    (ngModelChange)="generationRange.set($event)"
                    [range]="true"
                    [min]="1"
                    [max]="results.length || 1"
                    [disabled]="!receivedLast"/>
          {{ generationRange()[1] }}
        </div>
      </div>
    }
  }
</p-dialog>
